params {
  /*********
  * Inputs *
  *********/
  // Glob of tissue specifiic tsv format files containing results of
  //  SuSiE fine-mapping results (SuSiE implementation in tensorQTL).
  susie_eqtl_glob = "data/susie/*.maf001.cs.txt"

  susie_fields = ["phenotype_id","variant_id","pip","af","cs_id"]
  susie_types = ["string", "string", "double", "double", "int32"]
}

// To run on cluster use:
//    nextflow run eqtl.nf -profile slurm
executor {
  $slurm {
    queueSize = 100
    time = "1d"
  }
  $local {
    cpus = 3
  }
}

profiles {
  standard {
    process.executor = 'local'
  }

  slurm {
    process {
      executor = 'slurm'
      errorStrategy = 'retry'
      maxRetries = 3

      withLabel: anyqueue {
        queue = "bravo,highcpu,highmem"
        memory = "2 GB"
        cpus = 2
      }

      withLabel: highcpu {
        queue = "highcpu"
        memory = "4 GB"
        cpus = 2
      }
    }
  }
}
