params {
  /*********
  * Inputs *
  *********/

  // Glob of tissue specifiic tsv format files containing results of
  //  significant independent eQTL signals for each gene (forward-backward linear regression)
  cond_eqtl_glob = "data/conditional/*.maf001.tsv"

  // Expected header fields of csv
  cond_fields = ["phenotype_id", "num_var", "beta_shape1", "beta_shape2",
                        "true_df", "pval_true_df", "variant_id", "tss_distance",
                        "ma_samples", "ma_count", "af", "pval_nominal",
                        "slope", "slope_se", "pval_perm", "pval_beta",
                        "rank"]

  // Corresponding mongodb types to be used for each field
  cond_types =  ["string", "int32",  "double", "double",
                 "double", "string", "string", "int32",
                 "int32",  "int32",  "double", "string",
                 "double", "double", "string", "string",
                 "int32"]

  // Glob of tissue specifiic tsv format files containing results of
  //  SuSiE fine-mapping results (SuSiE implementation in tensorQTL).
  susie_eqtl_files = "data/susie/*.maf001.cs.txt"


}

// To run on cluster use:
//    nextflow run eqtl.nf -profile slurm
executor {
  $slurm {
    queueSize = 100
    time = "1d"
  }
  $local {
    cpus = 3
  }
}

profiles {
  standard {
    process.executor = 'local'
  }

  slurm {
    process {
      executor = 'slurm'
      errorStrategy = 'retry'
      maxRetries = 3

      withLabel: anyqueue {
        queue = "bravo,highcpu,highmem"
        memory = "2 GB"
        cpus = 2
      }

      withLabel: highcpu {
        queue = "highcpu"
        memory = "4 GB"
        cpus = 2
      }
    }
  }
}
